/* 
    Created on : Apr 4, 2023, 12:23:08 PM
    Author     : cabeza
*/

 @media(max-width: 768px){
        .container{
            min-width: 250px;
            background-color: whitesmoke;
        }
        .ocultar{
            display: none;
        }

        #entrada,#salida,#noches,#huespedes,#importe{
            font-size: .8em;

        }
        .table th{
            font-size: .8em;
            width: 80px;
            background-color: cyan;
            border: 1px solid black;
        }
        .table tr td{
            font-size: .8em;
            width: 80px;
            background-color: mediumaquamarine;
            border: 1px solid black;
        }
        .borrar, .ver{
            text-align: center;
            font-size: .6em;
            font-weight: bold;
        }
        .col-4,.col-8{
            font-size: .8em;
            font-weight:bold; 
            color:blue;
        }

        

    }